.FilterContainer {
  display: flex;
  justify-content: center;
}

select {
  background-color: black;
  color: white;
  border: none;
  padding: 8px;
  margin: 1rem 9rem;
  border-radius: 4px;
}


option {
  background-color: black;
  color: white;
}