
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-top: 20px;
}

.LogoGames {
   height: 100px;
   width: 100px;
 }
.LogoGames, .SearchBackground {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.IconProfil, .IconBasket {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}