.header {
  height: 18rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #201F1F;
}
.LogoGames {
   height: 100px;
   width: 100px;
 }
.LogoGames, .SearchBackground, .HeaderRight {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

element.style {
  color: white;
  padding: 0 15px;
}

.HeaderRight {
   display: flex;
  justify-content: flex-end;

 }
.IconProfil, .IconBasket {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}