.SearchResults {
    display: flex;
    justify-content: center;
}
li {
    list-style-type: none;
}
.SearchResults {
    width: 95%;
    top: 60px;
    right: 2px;
    padding: 8px;
    overflow-y: scroll;
    border-radius: 10px;
    scrollbar-width: none;
    max-height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    backdrop-filter: blur(20px);
    background-color: rgba(50, 205, 50, 0.5);
}
.GameListResult {
    padding: 5px 10px;
    &:hover {
        background-color: lime;
        border-radius: 18px;
    }
}
.GameListResultContainer {
    position: relative;
}


.SearchBackground {
    position: relative;
    background-color: #201F1F;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    z-index: 9999;
}

.SearchContainer {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #201F1F;
    overflow: hidden;

    &.active {
        width: 50rem;
    }

    .SearchIcon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        color: #000;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
        }

        &::after {
            background: #fff;
            transition: 0.5s;
        }
        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }
    }

    .SearchInput {
        position: relative;
        width: 44rem;
        height: 60px;
        left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 18px;
        }
    }

    .SearchClear {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        right: 15px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 15px;
            background: #999;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(315deg);
        }
    }

}
